{% load i18n %}

<li><a href="{% url 'common:import_dataset' %}">{% trans "Imports" %}</a></li>

{% if user.is_superuser %}
    <li><a href="{% url 'apimobile:sync_mobiles_view' %}">{% trans "Sync mobile" %}</a></li>
{% endif %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
    <label for="{{language.code}}">{{ language.code }}
        <input type="radio"
            name="language"
            id="{{ language.code }}"
            value="{{ language.code }}"
            onchange="this.form.submit()" />
    </label>
    {% endfor %}
</form>
